.App {
  text-align: center;
}

.bfsword {
  height: 60px;
  width: 60px;
  background-image: url("./images/BF_Sword.png");
}

.chainvest {
  height: 60px;
  width: 60px;
  background-image: url("./images/Chain_Vest_item.png");
}

.giantsbelt {
  height: 60px;
  width: 60px;
  background-image: url("./images/Giant_Belt_item.png");
}

.largerod {
  height: 60px;
  width: 60px;
  background-image: url("./images/Needlessly_Large_Rod_item.png");
}

.negatron {
  height: 60px;
  width: 60px;
  background-image: url("./images/Negatron_Cloak_item.png");
}

.recurve {
  height: 60px;
  width: 60px;
  background-image: url("./images/Recurve_Bow_item.png");
}

.tear {
  height: 60px;
  width: 60px;
  background-image: url("./images/tear.png");
}

.spatula {
  height: 60px;
  width: 60px;
  background-image: url("./images/Spatula.png");
}

.resize {
  height: 820px;
  width: 485px;
}